.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.social {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.logo {
  flex: 1;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 34px;
}
.links {
  display: flex;
  gap: 20px;
  flex: 1;
  font-size: 20px;
  text-align: right;
}
